* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 12px;
}

.header {
  margin-top: calc(71px - 12px);
}

.header__title {
  font-family: 'PT Serif', serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 47.7px;
}

.header__description {
  margin-top: 38px;
}

.header__description--title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 27px;
}

.header__description--content {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 21px;
}
