* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 12px;
}

.header {
  margin-top: calc(71px - 12px);
  padding: 0 20px;
}

.header__title {
  font-family: 'PT Serif', serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 47.7px;
}

.header__description {
  margin-top: 38px;
}

.header__description--title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 27px;
}

.header__description--content {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 21px;
}

.photos__grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.photos__photo:nth-child(2n) {
  margin-top: 50px;
}

.photos__photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.photos__photo--content {
  width: 90%;
}
.photos__photo--wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: flex-start;
}

.photos__photo--img {
  width: 90%;
}

.photos__photo--profession {
  writing-mode: vertical-lr;
  width: max-content;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 13.25px;
  text-transform: uppercase;
}

.photos__photo--name {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 21px;
}

@media (min-width: 900px) {
  body {
    padding: 60px 100px;
  }
  .header {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 0 30px;
    justify-content: space-between;
  }
  .header__title {
    max-width: 50%;
  }
  .header__description {
    margin: 0;
    width: 40%;
  }

  .header__description--content {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 27px;
  }
  .photos__grid {
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
  }

  .photos__photo:nth-child(2n) {
    margin-top: 0;
  }

  .photos__photo:nth-child(3n + 2) {
    margin-top: 100px;
  }

  .photos__photo--content {
    width: 80%;
  }
}
